.banner-principal-decorativo
  &-1
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 72%
    right: 11%
  &-2
    animation: float2 3s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 12%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translatex(20px)

  100%
    transform: translatex(0px)

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #ffffff
 

/// Tema1

.tabla-a.color-acento-botones thead 
  border-color: #ffffff

.tabla-a thead 
  border-top: 5px solid
  color: #ffffff
  background-color: #EB6F2D

.clr-paleYellow
  background-color: #CCD3CA

.tabs-a__tab 
  display: block
  width: 100%
  text-align: left
  background-color: #D8D8D8
  padding: 15px 20px
  border-radius: 5px
  color: #111e61
  line-height: 1.2em

.color-ama
  background-color: #FFE6A1
  border-radius: 20px
  height: 100%
  align-content: center

.coloroscuroverd
  background-color: #FFE6A1
  border-radius: 20px
  height: 468px

.bg_grad-01
  position: relative
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem 
    top: 0em
    left: 0px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/temas/fondo1.jpg")
    background-repeat: no-repeat

.bloque-texto-c.color-acento-contenido
  background-color: #F7E8CE

.ancho
  width: 25%

.ancho1
  width: 38%

.colordesborde
  background-color: #FFE6A1
  border-radius: 20px

.tarjeta-avatar1
  height: 100%
  position: relative
  padding-top: 140px

.tarjeta-avatar1 > img
  position: absolute
  left: 50%
  top: 20%
  transform: translateX(-50%)
  display: block
  width: 132px
  margin: 0 auto

.tarjeta-avatar1 .tarjeta
  display: inline-block
  padding-top: 60px !important
  height: 100%

.color-ama2
  background-color: #E1F3D7
  border-radius: 20px
  width: 100%

.coloravatar
  background-color: #fff
  border-color: #406834 !important
  border: 15px solid
  border-radius: 100%
  &:hover
    border-color: #FFB338 !important

.tarjetaver
  background-color: #BCD1BF !important
  border-radius: 0px
  width: 95%
  &:hover
    background-color: #FCE5C1 !important
    height: 104%
    width: 100%

.fondo1
  background-color: #FFB338 !important

.otrobloque .bloque-texto-g__texto 
  position: relative
  width: 65%
  right: 34%
  background-color: rgba(255, 255, 255, 0.95)
  @media (max-width: 992px)
    position: relative
    width: 100%
    height: 50%
    left: 0
    background-color: rgba(255, 255, 255, 0.95)

.otrobloque .bloque-texto-g__img
  width: 50%
  position: absolute
  top: -18.5%
  left: 51%
  background-position: top
  background-size: 100% 108%
  @media (max-width: 992px)
    width: 100%
    height: 70% !important
    position: absolute
    top: -14%
    left: 0
    bottom: 0
    background-position: top
    background-size: 100% 108%

.color-ver
  background-color: #CDDFC8 !important
  border-radius: 20px
